.searchBox {
  margin-bottom: 30px;
}

.input {
  width: 40%;
  padding: 10px 15px;
  background-color: #ffffff81;
  box-shadow: inset 0 0 5px #ced6ed;
  border: none;
  transition: all 250ms linear;
}

.searchBox p {
  color: var(--dark-blue);
  margin-left: 10px;
}

.input:focus-visible {
  box-shadow: inset 0 0 5px #fff;
  outline: none;
}

